<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <!-- <div v-if="showDiv"> codice </div>-->
    <!-- <div v-if="provaIf()"> codice </div>-->
    <!-- v-else se non si verifica la prima condizione dell'if si verifica questa -->
    <!-- v-show aggiunge display-none ad un elemento -->
    <!-- v-for mostra struttura dati di un elemento/oggetto/array nel DOM -->
    <!-- v-cloak nasconde template finchè non è compilato (aggiungerlo in css)-->
    <div id="app" v-cloak> 
        <h1>{{ title }}</h1>
        <!-- <h2 v-text="title"></h2> -->
        <!-- <h2 v-html="title"></h2> -->
        <div class="container">
            <div class="slider-wrapper" tabindex="0" @mouseenter="stopAutoplay()"
            @mouseleave="startAutoplay()">
                <!-- uso v-for per iterare image in array images e v-show per mostrare image in currentINdex -->
                <div class="item" v-for="(image, index) in images"
                v-show="currentIndex === index">
                    <img :src="images[currentIndex].image" alt="">
                    <div class="text">
                        <h2>{{ images[currentIndex].title }}</h2>
                        <p>{{ images[currentIndex].text }}</p>
                    </div>
                </div>
           
                <!-- thumbnails ******************************************* -->
                <div class="thumbs">
                    <!-- prev v-on-->
                    <div class="prev" @click="prevImage"></div>
                    <!-- next v-on-->
                    <div class="next" @click="nextImage"></div>
                    
                    <!-- *** BONUS 1 *** -->
                    <!-- thumb v-for quando clicco su thumb attivo funzione setImage che mostra immagine in posizione currentIndex-->

                    <!-- agginugo classe active solo se currentIndex === index -->
                    <div class="thumb" v-for="(image, index) in images"
                    :class="{active: currentIndex === index}">
                        <img :src="image.image" alt="" @click="setImage(index)">
                    </div>
         
                </div>

            </div>
        </div>

    </div>
    <!-- vue -->
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <!-- main js -->
    <script src="./js/script.js"></script>
</body>

</html>